body {
    margin: 0;
    padding: 0;
    background-image: url('./book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif; /* Set a font-family for the entire page */
  }


.container {
    height: 80vh;
    
    align-items: center;
    opacity: 70%;
    max-width: 300px;
    margin: 0 auto;
    padding: 75px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(180, 138, 138, 0.1);
  }
  
.forgot-password {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  .forgot-password:hover {
    background-color: #bb2d3b;
  }
  h2 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    
    align-items: center;
    width: 100%;
    padding: 12px;
    border: white;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  